/vendor
/node_modules
/public/build
/public/hot

/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

!/storage/logs/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore

.env
.env.backup
.env.production
.env.local

database/database.sqlite
database/*.sqlite
database/*.sqlite-journal

.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json

npm-debug.log
yarn-error.log
pnpm-debug.log
package-lock.json

.DS_Store
Thumbs.db

*.zip