@import "./pages/welcome.css";
@import "./ui/buttons.css";
@import "./ui/forms.css";
@import "./ui/alerts.css";
@import "./ui/dropdown.css";

@import "./auth/auth.css";

@import "./modals/modal-base.css";
@import "./modals/task-modal.css";

@import './profile/profile.css';

@import "./pages/week-board.css";
@import "./pages/month-view.css";
@import "./pages/notebook.css";

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

:root{
    --fontmono: 'Source Code Pro';
    --font: 'Google Sans';
    
    --accent: #2395ff;
    --accent2: #235d94;
    --accentdis: #17334d;
    --black: #111111;
    --white: #efefef;
    --gray: #b4b4b4;
    --gray2: #888888;
    --border: rgba(239, 239, 239, .2);
    --borderhover: rgba(239, 239, 239, .3);
    --borderactive: rgba(51, 156, 255, 0.4);
    --blacktransp: rgba(17, 17, 17, .2);
}

html {
    background-color: var(--black);
}

body {
    margin: 0;
    background-color: transparent; /* Важно: прозрачный фон чтобы видеть шейдер */
    color: var(--white);
    font-family: var(--font);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
